body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #fff;
  text-rendering: auto !important;
}

.timezone {
  margin-bottom: 20px;
  border-top: 30px solid #353535;

  h2 {
    margin-top: -20px;
    margin-bottom: 15px;
    small {
      font-size: 0.5em;
      margin-left: 1ch;
    }
  }

  .hour-list {
    overflow: hidden;
    height: 40px;

    .hour {
      border-radius: 3px;
      width: 54px;
      height: 40px;
      margin: 0 3px;
      display: inline-block;
      background-color: #72878A;

      text-align: center;
    }

  }
}
